* {
  box-sizing: border-box;
}

body {
  background: #1E2C47;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  margin: 20px;
}

header {
  color: #FFE25A;
  font-size: 37px;
  font-family: 'Roboto', sans-serif;
  grid-column: 1 / span 2;
}

/* Palette Container Styling */

.palette-container {
  display: grid;
  grid-template-rows: 460px repeat(2, 1fr);
  background: white;
  padding: 10px;
}

.palette-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.palette-color-container {
  position: relative;
}

.color {
  height: 425px;
  text-align: center;
}

.hex-code {
  margin-top: 10px;
  color: #1E2C47;
  font-family: 'Roboto', sans-serif;
}

.unlock-img {
 position: absolute;
 top: 10px;
 right: 10px;
 height: 30px;
 width: 30px;
 background-image: url('../images/unlock.svg');
 background-size: cover;
 filter: drop-shadow(2px 2px 2px white)
}

.lock-img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-image: url('../images/lock.svg');
  background-size: cover;
  filter: drop-shadow(2px 2px 2px white)
}

.generate-palette-btn {
  background: #1E2C47;
  width: 250px;
  color: #03DCCE;
  height: 40px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.save-palette-container {
  margin: auto;
}

.select-project {
  width: 100px;
}

.name-palette-input {
  height: 25px;
  width: 250px;
}

.save-palette-btn {
  width: 100px;
  background: #1E2C47;
  color: #03DCCE;
  font-family: 'Roboto', sans-serif;
  height: 25px;
  font-size: 14px;
}

/* End Palette Container Styling */

/* Project Section */

.project-container {
  background: white;
  margin: 0;
  padding: 10px;
  position: relative;
}

.projects-heading {
  color: #1E2C47;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 0 0 10px 0;
}

.add-project-btn {
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.projects {
  background: #006086;
  padding: 10px;
  height: 520px;
  min-width: 410px;
}

.project {
  margin-bottom: 15px;
}

.project-name {
  font-size: 20px;
  color: #FFE25A;
  margin: 0 0 5px 0;
  font-family: 'Roboto', sans-serif;
}

.color-container {
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.palette-name {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #1E2C47;
  font-size: 16px;
  display: inline-block;
  min-width: 100px;
}

.project-colors {
  display: inline-block;
  height: 30px;
}

.project-color {
  height: 30px;
  width: 30px;
  background: black;
  margin: 0 5px;
  display: inline-block;
}

.delete-palette-btn {
  height: 25px;
  margin-left: 10px;
}
