body {
  background: #1E2C47
}

header {
  color: #FFE25A;
  font-size: 37px;
  font-family: 'Roboto', sans-serif;
}
/* Palette Container Styling */

.palette-container {
  display: grid;
  grid-template-rows: 450px repeat(2, 1fr);
  background: white;
  padding: 10px;
  width: 750px;
}

.palette-colors {
  display: flex;
}

.color {
  height: 375px;
  width: 150px;
  text-align: center;
}

.color-one {
  background: black;
}

.color-two {
  background: blue;
}

.color-three {
  background: red;
}

.color-four {
  background: yellow;
}

.color-five {
  background: orange;
}

.hex-code {
  margin-top: 10px;
}


